extends ../../layouts/default.pug

block main
    .container.mt-4
        h1.mb-4
            i.fas.fa-key
            |  #{pageTitle}
        
        +alert-success(5000)
        +alert-error(5000)

        .row
            .col-md-6.mx-auto
                .card
                    .card-body
                        form(
                            action=`/profile/change-password/${account._id}?_method=PATCH`
                            method="POST"
                        )
                            .mb-3
                                label.form-label(for="currentPassword") Mật khẩu hiện tại 
                                    span.text-danger *
                                input#currentPassword.form-control(
                                    type="password"
                                    name="currentPassword"
                                    required
                                    placeholder="Nhập mật khẩu hiện tại"
                                )

                            .mb-3
                                label.form-label(for="newPassword") Mật khẩu mới 
                                    span.text-danger *
                                input#newPassword.form-control(
                                    type="password"
                                    name="newPassword"
                                    required
                                    minlength="6"
                                    placeholder="Nhập mật khẩu mới (tối thiểu 6 ký tự)"
                                )

                            .mb-3
                                label.form-label(for="confirmPassword") Xác nhận mật khẩu mới 
                                    span.text-danger *
                                input#confirmPassword.form-control(
                                    type="password"
                                    name="confirmPassword"
                                    required
                                    minlength="6"
                                    placeholder="Nhập lại mật khẩu mới"
                                )

                            .text-end
                                a.btn.btn-secondary(href=`/profile`)
                                    i.fas.fa-arrow-left
                                    |  Quay lại
                                |  
                                button.btn.btn-primary(type="submit")
                                    i.fas.fa-save
                                    |  Đổi mật khẩu

        script(src="/client/js/profile.js") 
